PORT=5000
MONGODB_URI=mongodb://localhost:27017/educircular
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
NODE_ENV=development
MONGODB_URI=mongodb+srv://notice-next:fdh61Jte0UWM67eh@notice-next.jwe9zwe.mongodb.net/NOTICE-NEXT?retryWrites=true&w=majority&appName=NOTICE-NEXT